
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Poppins:wght@600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  color: #000;
  line-height: 1.6;
}

#menu-icon {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
  padding-left: 10px;
  padding-top: 5px;
}



#container {
  width: auto;
  overflow: hidden;
  position: relative;

}

nav {
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  justify-self: center;
  gap: 4%;
}

#container-nav a {
  font-family: "Montserrat";
  font-weight: 200;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.logo {
  height: 30px;
  margin-right: 20px;
}
#principal {
  text-align: left;
  padding: 60px 8%;
}

#principal h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.8rem;
  margin-bottom: 15px;
}

#principal .texto-principal {
  text-align: left;
}

#principal .texto-principal button {
  display: block;
  margin-left: auto; 
}

#principal span {
  color: #b10000;
  font-family: "Poppins", sans-serif;
  font-size: 2.8rem;
  margin-bottom: 15px;
}

#principal p {
  max-width: 500px;
  margin-bottom: 25px;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 12px 25px;
  border-radius: 20px;
  border: none;
  background: #590808;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #fff;
  color: #590808;
  border: 2px solid #590808;
}

#plataforma {
  background: #590808;
  color: #fff;
  text-align: center;
  padding: 60px 20px;
}

#plataforma h2 {
  font-size: 1.8rem;
  margin-bottom: 30px;
}

.botoes-plataforma {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.botao-plataforma {
  background: #fff;
  color: #000;
  padding: 15px 25px;
  border-radius: 12px;
  font-weight: 600;
  font-size: 1rem;
}

.botao-plataforma:hover {
  background: #b10000;
  color: #fff;
}

section.tutorial {
  position: relative;
  padding: 60px 80px;
  min-height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

section.tutorial h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}

section.tutorial ul {
  list-style: disc;
  padding-left: 20px;
  position: relative;
  z-index: 2;
}
ul > li{
  margin: 30px;
}
/* --- ANDROID --- */
section.android {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/3e/Android_logo_2019.png");
  background-position: right center;
  background-size: 500px auto; 
    height: 80vh;
}

section.android::before {
  content: "";
  position: absolute;
  inset: 0;
  background: white;
  opacity: 0.94; /* mais claro */
  pointer-events: none;
  z-index: 1;
}

/* --- iOS --- */
section.ios {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg");
  background-position: left center;
  background-size: 420px auto; 
  height: 80vh;
}

section.ios::before {
  content: "";
  position: absolute;
  inset: 0;
  background: white;
  opacity: 0.94;
  pointer-events: none;
  z-index: 1;
}

#ajuda {
  background: #590808;
  color: #fff;
  text-align: center;
  padding: 60px 20px;
}

#ajuda h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

#ajuda p {
  max-width: 600px;
  margin: auto;
  font-size: 1rem;
}

@media screen and (max-width: 601px) {
   #menu-icon {
    display: block;
    cursor: pointer;
    position: relative;
    z-index: 1002;

  }

  #menu-icon img {
  width: 40px;
  height: auto;
  display: block;
}

  #main-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9); 
    padding: 20px 0;
    z-index: 1001;
  }

  nav#main-menu {
  padding: 0;             
  padding-top: 56px;        
  align-items: center;
}

#main-menu a {
  display: block;
  width: 100%;
  padding: 12px 0;
  font-size: 1.2em;
  text-align: center;
}


  #main-menu > a {
  padding: 5px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  transition: all 0.3s ease;
  }

  #main-menu a:hover {
  color: black;
   
}

  #main-menu.show {
    display: flex;
  }
}
@media screen and (min-width: 602px) and (max-width: 768px) {
   #menu-icon {
    display: block;
    cursor: pointer;
    position: relative;
    z-index: 1002;

  }

  #menu-icon img {
  width: 40px;
  height: auto;
  display: block;
}

  #main-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9); 
    padding: 20px 0;
    z-index: 1001;
  }

  nav#main-menu {
  padding: 0;             
  padding-top: 56px;        
  align-items: center;
}

#main-menu a {
  display: block;
  width: 100%;
  padding: 12px 0;
  font-size: 1.2em;
  text-align: center;
}


  #main-menu > a {
  padding: 5px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  transition: all 0.3s ease;
  }

  #main-menu a:hover {
  color: black;
   
}

  #main-menu.show {
    display: flex;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
   #menu-icon {
    display: block;
    cursor: pointer;
    position: relative;
    z-index: 1002;

  }

  #menu-icon img {
  width: 40px;
  height: auto;
  display: block;
}

  #main-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9); 
    padding: 20px 0;
    z-index: 1001;
  }

  nav#main-menu {
  padding: 0;             
  padding-top: 56px;        
  align-items: center;
}

#main-menu a {
  display: block;
  width: 100%;
  padding: 12px 0;
  font-size: 1.2em;
  text-align: center;
}


  #main-menu > a {
  padding: 5px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  transition: all 0.3s ease;
  }

  #main-menu a:hover {
  color: black;
   
}

  #main-menu.show {
    display: flex;
  }
}
@media (max-width: 768px) {
  #principal {
    text-align: center;
  }
  #principal p {
    margin: auto;
  }
  nav {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  section.android {
    background-size: 280px auto; 
  }

  section.ios {
    background-size: 220px auto; 
  }
}
